@font-face {
  font-family: "Pierson";
  src: local("Pierson"),
    url("../../../assets/fonts/Pierson_Font/PiersonDemo-400.woff2") format("woff2"),
    url("../../../assets/fonts/Pierson_Font/PiersonDemo-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  margin: auto 150px;
}

.hero {
  background: url(../../../assets/img/hero/lineBlue.png) -140px -230px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  animation: hero 1.2s ease-in-out;

  @keyframes hero {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__container {
    background-image: url(../../../assets/img/hero/spotBlue.png);
    background-repeat: no-repeat;
    background-size: 490px 600px;
    background-position: 460px 135px;
  }

  &__title-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__title {
    font-family: Pierson;
    font-size: 128px;
    font-weight: 400;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: -10px;
      width: 32px;
      height: 48px;
      background-image: url(../../../assets/img/hero/star.svg);
    }
  }

  &__span {
    position: absolute;
    top: 102px;
    left: 713px;
    font-size: 36px;
    color: #2235d1;
    font-weight: 300;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 165px;
    overflow: hidden;
  }

  &__img-braille {
    margin-bottom: 56px;
  }

  &__button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}