.container {
  margin: auto 150px;
}

.hero {
  background-image: url(../../assets/img/hero/lineBlue.png);
  background-repeat: no-repeat;
  background-position-y: -23px;
  display: flex;
  flex-direction: column;

  animation: hero 1.2s ease-in-out;

  @keyframes hero {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__container {
    background-image: url(../../assets/img/hero/spotBlue.png);
    background-repeat: no-repeat;
    background-size: 490px 600px;
    background-position: 450px 115px;

  }

  &__title-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    animation: title 1.2s ease-in-out;

    @keyframes title {
      0% {
        transform: translateY(100%);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  &__title {
    font-size: 128px;
    font-weight: 400;
    position: relative;



    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 5px;
      width: 32px;
      height: 48px;
      background-image: url(../../assets/img/hero/star.svg);
    }
  }

  &__span {
    position: absolute;
    top: 117px;
    left: 713px;
    font-size: 36px;
    color: #2235d1;
    font-weight: 300;

  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
    overflow: hidden;
  }

  &__img-face {
    animation: face 1.2s ease-in-out;

    @keyframes face {
      0% {
        transform: translateX(-150%);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  &__img-moking {
    animation: moking 1.2s ease-in-out;

    @keyframes moking {
      0% {
        opacity: 0;
        transform: translateY(-150%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__img-braille {
    margin-bottom: 56px;

  }

  &__button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: braille 1.2s ease-in-out;

    @keyframes braille {
      0% {
        opacity: 0;
        transform: translateX(150%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}