.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: -10px;
  display: flex;
  align-items: center;
  animation: modal-gallery 0.3s ease-in-out;
  z-index: 10;

  @keyframes modal-gallery {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__window {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 32px 56px 32px;
    margin: 0 auto;
    background-color: white;
    width: 1440px;
    min-height: 1000px;
    border-radius: 15px;
    z-index: 10;
  }

  &__content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-content: space-between;
  }

  &__loading {
    position: absolute;
    top: 335px;
    left: 620px;
  }

  &__pagination {
    position: absolute;
    bottom: 56px;
    user-select: none;
  }

  &__button-page {
    font-size: 36px;
    background: none;
    border: none;
    color: #00000080;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #2235D1;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }

    &.active {
      color: #2235D1;
    }
  }

  &__button-next {
    font-size: 50px;
    background: none;
    border: none;
    color: #00000080;
    cursor: pointer;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:hover {
      color: #2235D1;
    }
  }


  &__button-back {
    margin-right: 50px;
    font-size: 50px;
    background: none;
    border: none;
    color: #00000080;
    cursor: pointer;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &:hover {
      color: #2235D1;
    }
  }

  &__nav {
    width: 320px;
    height: 370px;
  }


  &__block {
    margin-bottom: 46px;
    width: 320px;
    height: 370px;
    animation: opac 0.5s ease-in-out;
    user-select: none;
  }

  &__img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
      transform: scale(1.05);
    }
  }

  &__button-close {
    top: 15px;
    right: 35px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 0;
    transition: color 0.2s ease-in-out;
  }

  &__button-close:hover {
    color: #2235D1;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0;
}

.modal-img {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;



  &__content {
    position: relative;
    left: -10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__current-img {
    color: #2235D1;
    font-size: 36px;
    position: absolute;
    bottom: -100px;
    left: 47%;
  }

  &__button {
    height: 906px;
    width: 300px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;

    svg path {
      transition: stroke 0.2s ease-in-out;
    }

    &:hover {
      svg path {
        stroke: #2235D1;
      }
    }
  }

  &__image {
    width: 672px;
    height: 906px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);



    &:active {
      // object-fit: none;
      // overflow: visible
    }
  }
}



@keyframes opac {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}