.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: -10px;
  display: flex;
  align-items: center;
  animation: modal-gallery 0.3s ease-in-out;

  @keyframes modal-gallery {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__content {
    padding: 50px 32px 56px 32px;
    margin: 0 auto;
    background-color: white;
    width: 1440px;
    height: 90%;
    border-radius: 15px;
  }

  &__button-close {
    height: 30px;
    width: 50px;
  }


}