.works {
  position: relative;

  &__title {
    margin-bottom: 42px;
  }

  &__nav {
    margin-bottom: 44px;
  }

  &__button {
    right: 170px;
    bottom: 120px;
    position: absolute;
  }
}

a {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2235D1
}

.active {
  color: #2235D1
}

// params-slider
.button__slider {
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: #2235D1;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  font-size: 100px;
}

.button__slider:hover {
  opacity: 0.5;
}

.wrapper-slider {
  height: 650px;
  opacity: 1;
}

.img-wrapper {
  width: min-content;
  overflow: hidden;
}

//img no visible
.img__slider {
  position: relative;
  top: 32px;
  width: 360px;
  height: 60%;
  border: 2px solid #000;
  opacity: 0;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

.img__slider-left {
  position: relative;
  top: 32px;
  width: 320px;
  height: 480px;
  object-fit: cover;
  border: 2px solid #000;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: img-top 0.5s ease-in-out;

}

.img__slider-center {
  position: relative;
  width: 439px;
  height: 568px;
  object-fit: cover;
  border: 2px solid #000;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  animation: center-img 0.5s ease-in-out;
}

.img__slider-right {
  position: relative;
  top: 32px;
  width: 320px;
  height: 368px;
  object-fit: cover;
  border: 2px solid #000;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: img-top 0.5s ease-in-out;
}

@keyframes img-top {
  0% {
    top: 0px
  }

  100% {
    top: 32px
  }
}

@keyframes center-img {
  0% {
    top: 32px
  }

  100% {
    top: 0px
  }
}