.works {
  &__title {
    margin-bottom: 42px;
  }

  &__nav {
    margin-bottom: 44px;
  }

  &__button {
    position: absolute;
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba($color: #000000, $alpha: 0);
  }



  &__button:hover {
    opacity: 0.5;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-one {
      border: 2px solid #000;
      width: 320px;
      height: 480px;
    }

    &-two {
      border: 2px solid #000;
      width: 350px;
      height: 568px;
    }

    &-three {
      border: 2px solid #000;
      width: 320px;
      height: 368px;
      margin-bottom: 65px;
    }

  }

  &__block-img-three {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


a {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2235D1
}

.active {
  color: #2235D1
}

.button-left {
  left: -125px;
  background-image: url(../../../assets/img/myWorks/arrowLeft.svg);
}

.button-right {
  right: -125px;
  background-image: url(../../../assets/img/myWorks/arrowRight.svg);
}

.button__slider {
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: #2235D1;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  font-size: 100px;
}

.button__slider:hover {
  opacity: 0.5;
}

.img__slider {
  border: 2px solid #000;
  width: 100%;
  height: 99%;
  object-fit: cover;
}

.img__slider-active {
  width: 440px;
  height: 568px;
  object-fit: cover;
  border: 2px solid rgb(255, 0, 0)
}

.slider__wrapper:first-child {
  width: 320px;
  height: 480px;
  object-fit: cover;
}