.works {
  &__title {
    margin-bottom: 42px;
  }

  &__nav {
    margin-bottom: 44px;
  }

  &__img {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-one {
      border: 2px solid #000;
      width: 320px;
      height: 480px;
    }

    &-two {
      border: 2px solid #000;
      width: 439px;
      height: 568px;
    }

    &-three {
      border: 2px solid #000;
      width: 320px;
      height: 368px;
    }
  }
}


a {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2235D1
}

.active {
  color: #2235D1
}