@import "../src/components/libs/_normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
  margin: 0 auto;
  max-width: 1440px;
  box-shadow: 5px 10px 10px rgb(170, 170, 170);
  background-color: #E5E5E5;
}
